.sidebar{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 85px;
  z-index: 200; 
  /* here z-index is given so that sidebar cover header */
}

.sidebar-link{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 76px;
}
.sidebar-link:hover{
  background-color: lightgray;
  cursor: pointer;
}
.side-icon{
  height: 24px;
}
.side-para{
  margin-top: 5px;
  font-size: 12px;
  font-family: Roboto,Arial;
  font-weight: 2px;
  color:rgb(42, 40, 40);
}